body {
    font-size: 100%;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    color: #cce6ff;
    background: #000000 url(bg.jpg) no-repeat fixed center center;
}

#parent {
    width: 99%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#main {
    width: auto;
    height: auto;
    font-size: 170%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.slider-wrapper {
    font-size: 40px;
    color: #aaa;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 50px;
    padding-left: 15px;
    overflow: hidden;
}

.slider div {
    color: #fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
}

.slider-text1 {
    animation: slide1 6s cubic-bezier(0.82, 0.01, 0.23, 1.01) infinite;
}

@keyframes slide1 {
    0% {
        margin-top: -300px;
    }

    5% {
        margin-top: -200px;
    }

    33% {
        margin-top: -200px;
    }

    38% {
        margin-top: -100px;
    }

    66% {
        margin-top: -100px;
    }

    71% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

p {
    font-size: 15px;
    margin: 25px 30px;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

a {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    color: #0073e6;
    font-size: 15px;
    text-decoration: none;
}
